# ASSIGNMENT
Process:

1. Accept input from user for data period and investment amount 
2. Use tradingview/Yahoo finance API to fetch required daily candle data
3. Once data is fetched, workout amount to be invested in each stock by multiplying stock weightage with investment amount. 
4. Calculate number of shares that can be bought with this amount by dividing it with daily closing price. You will get number of shares that can be bought for that stock for that particular day.
5. Likewise need to be done for all stocks in input sheet for all dates of user input

### Import library

In [1]:
#Pandas is a Python library used for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data.
import pandas as pd
# yfinance is not affiliated, endorsed, or vetted by Yahoo, Inc. It's an open-source tool that uses Yahoo's publicly available APIs, and is intended for research and educational purposes.
import yfinance as yf
# provides standard mathematical constants and functions
import math

# Part- 1

In [2]:
# takes a path to a CSV file and reads the data into a Pandas DataFrame object.
data=pd.read_csv("Stocks.csv")

In [3]:
# returns a specified number of rows, string from the top
data.head()

,Ticker,Weightage,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,ADANIPORTS,0.0082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,APOLLOHOSP,0.0061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ASIANPAINT,0.0195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AXISBANK,0.0257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAJAJFINSV,0.0120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Ticker	 column store into onther verible is `stocks`
stocks = list(data["Ticker"].values)

In [5]:
stocks

['ADANIPORTS',
 'APOLLOHOSP',
 'ASIANPAINT',
 'AXISBANK',
 'BAJAJFINSV',
 'BAJFINANCE',
 'BHARTIARTL',
 'BPCL',
 'BRITANNIA',
 'CIPLA',
 'COALINDIA',
 'DIVISLAB',
 'DRREDDY',
 'EICHERMOT',
 'GRASIM',
 'HCLTECH',
 'HDFCBANK',
 'HDFCLIFE',
 'HEROMOTOCO',
 'HINDALCO',
 'HINDUNILVR',
 'ICICIBANK',
 'INDUSINDBK',
 'INFY',
 'ITC',
 'JSWSTEEL',
 'KOTAKBANK',
 'LT',
 'MARUTI',
 'NESTLEIND',
 'NTPC',
 'ONGC',
 'POWERGRID',
 'RELIANCE',
 'SBILIFE',
 'SBIN',
 'SHREECEM',
 'SUNPHARMA',
 'TATACONSUM',
 'TATAMOTORS',
 'TATASTEEL',
 'TCS',
 'TECHM',
 'TITAN',
 'ULTRACEMCO',
 'UPL',
 'WIPRO']

In [6]:
# Adding `.NS` into column datas
ticker = [stock+ ".NS" for stock in stocks]

In [7]:
ticker

['ADANIPORTS.NS',
 'APOLLOHOSP.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS',
 'BAJAJFINSV.NS',
 'BAJFINANCE.NS',
 'BHARTIARTL.NS',
 'BPCL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'DIVISLAB.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'GRASIM.NS',
 'HCLTECH.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'HINDUNILVR.NS',
 'ICICIBANK.NS',
 'INDUSINDBK.NS',
 'INFY.NS',
 'ITC.NS',
 'JSWSTEEL.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'MARUTI.NS',
 'NESTLEIND.NS',
 'NTPC.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SBILIFE.NS',
 'SBIN.NS',
 'SHREECEM.NS',
 'SUNPHARMA.NS',
 'TATACONSUM.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TCS.NS',
 'TECHM.NS',
 'TITAN.NS',
 'ULTRACEMCO.NS',
 'UPL.NS',
 'WIPRO.NS']

In [8]:
weightage = list(data["Weightage"].values)

In [9]:
weightage

[0.0082,
 0.0061,
 0.0195,
 0.0257,
 0.012,
 0.0237,
 0.0233,
 0.0046,
 0.0052,
 0.0068,
 0.0051,
 0.0077,
 0.0067,
 0.0049,
 0.0085,
 0.0153,
 0.081,
 0.0072,
 0.0043,
 0.0094,
 0.0267,
 0.069,
 0.0085,
 0.0766,
 0.0303,
 0.0094,
 0.0351,
 0.0274,
 0.0137,
 0.0087,
 0.0099,
 0.0078,
 0.0104,
 0.1286,
 0.0065,
 0.0254,
 0.0046,
 0.0134,
 0.0066,
 0.0105,
 0.0137,
 0.0491,
 0.0105,
 0.0137,
 0.0102,
 0.006,
 0.0101]

In [10]:
portfolio = {}

for i in range(len(data)):
    portfolio[stocks[i]]=weightage[i]

In [11]:
portfolio

{'ADANIPORTS': 0.0082,
 'APOLLOHOSP': 0.0061,
 'ASIANPAINT': 0.0195,
 'AXISBANK': 0.0257,
 'BAJAJFINSV': 0.012,
 'BAJFINANCE': 0.0237,
 'BHARTIARTL': 0.0233,
 'BPCL': 0.0046,
 'BRITANNIA': 0.0052,
 'CIPLA': 0.0068,
 'COALINDIA': 0.0051,
 'DIVISLAB': 0.0077,
 'DRREDDY': 0.0067,
 'EICHERMOT': 0.0049,
 'GRASIM': 0.0085,
 'HCLTECH': 0.0153,
 'HDFCBANK': 0.081,
 'HDFCLIFE': 0.0072,
 'HEROMOTOCO': 0.0043,
 'HINDALCO': 0.0094,
 'HINDUNILVR': 0.0267,
 'ICICIBANK': 0.069,
 'INDUSINDBK': 0.0085,
 'INFY': 0.0766,
 'ITC': 0.0303,
 'JSWSTEEL': 0.0094,
 'KOTAKBANK': 0.0351,
 'LT': 0.0274,
 'MARUTI': 0.0137,
 'NESTLEIND': 0.0087,
 'NTPC': 0.0099,
 'ONGC': 0.0078,
 'POWERGRID': 0.0104,
 'RELIANCE': 0.1286,
 'SBILIFE': 0.0065,
 'SBIN': 0.0254,
 'SHREECEM': 0.0046,
 'SUNPHARMA': 0.0134,
 'TATACONSUM': 0.0066,
 'TATAMOTORS': 0.0105,
 'TATASTEEL': 0.0137,
 'TCS': 0.0491,
 'TECHM': 0.0105,
 'TITAN': 0.0137,
 'ULTRACEMCO': 0.0102,
 'UPL': 0.006,
 'WIPRO': 0.0101}

## Accept input from user for data period and investment amount And Use tradingview/Yahoo finance API

In [12]:
def getInput():
    amount = int(input("Enter your investment"))
    startDate = str(input("Enter Your Start Date as yyyy-mm-dd :"))
    endDate = str(input("Enter Your End Date as yyyy-mm-dd :"))
    
    return amount,startDate,endDate


def getClosp(stocks,start,end):
    
    s =yf.download(stocks,start,end)['Close']
    return s

In [13]:
investment_amount, start_date, end_date = getInput()
investment_amount

Enter your investment500000
Enter Your Start Date as yyyy-mm-dd :2023-04-1
Enter Your End Date as yyyy-mm-dd :2023-04-30

500000

##  Once data is fetched, workout amount to be invested in each stock by multiplying stock weightage with investment amount.

In [14]:
closPrice=getClosp(ticker,start=start_date ,end=end_date)

[*********************100%***********************]  47 of 47 completed

In [15]:
closPrice

,ADANIPORTS.NS,APOLLOHOSP.NS,ASIANPAINT.NS,AXISBANK.NS,BAJAJFINSV.NS,BAJFINANCE.NS,BHARTIARTL.NS,BPCL.NS,BRITANNIA.NS,CIPLA.NS,...,SUNPHARMA.NS,TATACONSUM.NS,TATAMOTORS.NS,TATASTEEL.NS,TCS.NS,TECHM.NS,TITAN.NS,ULTRACEMCO.NS,UPL.NS,WIPRO.NS
Date,,,,,,,,,,,,,,,,,,,,,
2023-04-03,627.799988,4234.350098,2777.000000,864.599976,1282.949951,5715.049805,760.549988,329.950012,4324.049805,891.450012,...,979.049988,717.049988,424.250000,104.099998,3200.000000,1103.199951,2537.399902,7640.500000,729.650024,367.950012
2023-04-05,636.750000,4200.950195,2808.500000,860.500000,1279.300049,5761.299805,763.450012,328.049988,4327.549805,895.750000,...,997.150024,727.400024,426.549988,104.849998,3239.800049,1103.500000,2572.699951,7691.950195,732.299988,369.750000
2023-04-06,641.599976,4201.950195,2809.850098,851.950012,1303.949951,5932.200195,765.950012,332.000000,4299.799805,893.349976,...,1012.099976,730.500000,437.649994,104.349998,3220.699951,1092.750000,2548.449951,7701.850098,726.150024,366.649994
2023-04-10,652.000000,4237.000000,2776.350098,847.349976,1305.050049,5828.799805,769.750000,335.799988,4266.399902,901.849976,...,1008.599976,720.650024,461.299988,104.949997,3263.399902,1107.250000,2583.699951,7696.250000,737.750000,373.299988
2023-04-11,653.950012,4271.299805,2753.800049,853.299988,1323.199951,5837.750000,774.150024,339.100006,4277.350098,907.150024,...,1009.250000,717.299988,458.700012,107.550003,3213.800049,1098.250000,2580.050049,7741.450195,742.549988,370.250000
2023-04-12,657.750000,4320.200195,2786.750000,851.049988,1321.550049,5856.950195,771.099976,337.299988,4271.299805,917.950012,...,1016.700012,718.400024,465.500000,107.599998,3241.649902,1109.900024,2587.899902,7682.850098,739.900024,372.149994
2023-04-13,661.650024,4398.299805,2809.750000,864.349976,1341.300049,5904.450195,767.049988,332.250000,4264.200195,915.750000,...,1003.500000,719.599976,469.500000,107.500000,3188.850098,1086.849976,2585.649902,7655.250000,737.000000,368.299988
2023-04-17,664.700012,4386.700195,2843.100098,864.549988,1341.150024,5961.450195,759.650024,335.700012,4338.600098,906.450012,...,998.700012,713.200012,472.149994,107.150002,3139.500000,1029.949951,2605.600098,7742.450195,737.150024,361.350006
2023-04-18,658.549988,4338.649902,2854.600098,863.349976,1335.199951,5915.649902,759.750000,334.799988,4301.850098,924.250000,...,1004.799988,707.049988,473.000000,107.599998,3130.750000,1025.199951,2577.699951,7595.299805,738.650024,367.899994
2023-04-19,658.400024,4320.299805,2809.699951,873.400024,1331.349976,5947.750000,764.650024,342.000000,4293.850098,911.900024,...,995.500000,700.849976,469.399994,108.099998,3089.600098,1013.900024,2569.300049,7515.899902,735.950012,360.799988
2023-04-20,666.099976,4348.399902,2843.850098,868.750000,1332.099976,5912.700195,772.299988,343.700012,4256.399902,904.000000,...,987.750000,703.400024,476.799988,108.000000,3104.800049,1021.799988,2579.250000,7475.799805,732.049988,362.850006
2023-04-21,661.599976,4361.299805,2882.100098,864.200012,1317.900024,5937.899902,765.200012,346.200012,4327.799805,915.049988,...,989.450012,700.400024,471.200012,106.150002,3160.850098,998.750000,2568.300049,7358.500000,734.700012,368.049988
2023-04-24,671.299988,4399.049805,2891.100098,882.299988,1319.750000,5933.750000,760.250000,347.200012,4311.000000,903.000000,...,979.150024,732.549988,475.200012,106.500000,3174.800049,1006.099976,2629.550049,7440.549805,729.849976,377.950012
2023-04-25,671.450012,4416.500000,2898.000000,878.349976,1345.800049,6075.250000,772.599976,347.500000,4402.549805,909.650024,...,972.500000,734.450012,473.549988,107.050003,3176.000000,997.000000,2633.199951,7439.200195,714.650024,375.649994
2023-04-26,664.700012,4410.399902,2910.000000,887.650024,1334.699951,6055.950195,773.450012,349.000000,4405.000000,911.099976,...,971.250000,746.700012,478.200012,106.849998,3198.149902,996.299988,2641.000000,7456.899902,715.349976,374.549988
2023-04-27,659.750000,4417.500000,2899.949951,881.400024,1360.000000,6200.049805,786.500000,355.649994,4415.850098,913.950012,...,978.700012,754.000000,481.600006,107.650002,3187.949951,1003.150024,2663.449951,7500.899902,727.200012,374.399994
2023-04-28,681.299988,4513.700195,2902.350098,860.000000,1354.650024,6280.100098,799.299988,357.600006,4553.549805,908.049988,...,987.650024,763.849976,484.950012,107.949997,3219.250000,1023.700012,2641.850098,7556.200195,740.299988,385.000000

In [16]:
## Single clossing price
closPrice["ADANIPORTS.NS"][0]

627.7999877929688

In [17]:
close_price = closPrice.transpose()
close_price

Date,2023-04-03,2023-04-05,2023-04-06,2023-04-10,2023-04-11,2023-04-12,2023-04-13,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-24,2023-04-25,2023-04-26,2023-04-27,2023-04-28
ADANIPORTS.NS,627.799988,636.750000,641.599976,652.000000,653.950012,657.750000,661.650024,664.700012,658.549988,658.400024,666.099976,661.599976,671.299988,671.450012,664.700012,659.750000,681.299988
APOLLOHOSP.NS,4234.350098,4200.950195,4201.950195,4237.000000,4271.299805,4320.200195,4398.299805,4386.700195,4338.649902,4320.299805,4348.399902,4361.299805,4399.049805,4416.500000,4410.399902,4417.500000,4513.700195
ASIANPAINT.NS,2777.000000,2808.500000,2809.850098,2776.350098,2753.800049,2786.750000,2809.750000,2843.100098,2854.600098,2809.699951,2843.850098,2882.100098,2891.100098,2898.000000,2910.000000,2899.949951,2902.350098
AXISBANK.NS,864.599976,860.500000,851.950012,847.349976,853.299988,851.049988,864.349976,864.549988,863.349976,873.400024,868.750000,864.200012,882.299988,878.349976,887.650024,881.400024,860.000000
BAJAJFINSV.NS,1282.949951,1279.300049,1303.949951,1305.050049,1323.199951,1321.550049,1341.300049,1341.150024,1335.199951,1331.349976,1332.099976,1317.900024,1319.750000,1345.800049,1334.699951,1360.000000,1354.650024
BAJFINANCE.NS,5715.049805,5761.299805,5932.200195,5828.799805,5837.750000,5856.950195,5904.450195,5961.450195,5915.649902,5947.750000,5912.700195,5937.899902,5933.750000,6075.250000,6055.950195,6200.049805,6280.100098
BHARTIARTL.NS,760.549988,763.450012,765.950012,769.750000,774.150024,771.099976,767.049988,759.650024,759.750000,764.650024,772.299988,765.200012,760.250000,772.599976,773.450012,786.500000,799.299988
BPCL.NS,329.950012,328.049988,332.000000,335.799988,339.100006,337.299988,332.250000,335.700012,334.799988,342.000000,343.700012,346.200012,347.200012,347.500000,349.000000,355.649994,357.600006
BRITANNIA.NS,4324.049805,4327.549805,4299.799805,4266.399902,4277.350098,4271.299805,4264.200195,4338.600098,4301.850098,4293.850098,4256.399902,4327.799805,4311.000000,4402.549805,4405.000000,4415.850098,4553.549805
CIPLA.NS,891.450012,895.750000,893.349976,901.849976,907.150024,917.950012,915.750000,906.450012,924.250000,911.900024,904.000000,915.049988,903.000000,909.650024,911.099976,913.950012,908.049988
COALINDIA.NS,220.149994,222.500000,221.699997,222.050003,223.649994,227.699997,225.500000,229.600006,232.199997,230.399994,229.550003,230.050003,231.550003,230.250000,229.750000,231.750000,233.100006
DIVISLAB.NS,2874.699951,2889.800049,2921.449951,2909.649902,2927.350098,3212.100098,3183.949951,3162.649902,3270.600098,3342.600098,3203.100098,3231.649902,3192.850098,3226.449951,3220.000000,3238.449951,3267.899902
DRREDDY.NS,4656.500000,4682.799805,4699.399902,4759.649902,4763.350098,4881.000000,4852.899902,4852.299805,4912.399902,4909.350098,4858.200195,4868.750000,4806.100098,4833.299805,4845.100098,4918.549805,4929.850098
EICHERMOT.NS,3004.300049,2933.750000,2961.699951,2970.449951,3054.199951,3128.350098,3213.050049,3229.000000,3263.550049,3289.600098,3246.949951,3200.699951,3182.800049,3217.949951,3248.350098,3263.550049,3301.100098
GRASIM.NS,1627.949951,1659.250000,1669.050049,1710.250000,1711.099976,1717.449951,1701.099976,1723.650024,1704.949951,1690.099976,1687.449951,1661.949951,1689.300049,1686.849976,1699.150024,1701.400024,1720.300049
HCLTECH.NS,1098.150024,1111.199951,1091.849976,1103.099976,1087.000000,1094.500000,1071.849976,1042.199951,1063.849976,1038.699951,1037.500000,1048.949951,1054.050049,1053.449951,1065.550049,1071.250000,1064.099976
HDFCBANK.NS,1610.550049,1653.750000,1666.349976,1658.449951,1663.300049,1684.900024,1692.449951,1666.650024,1659.599976,1665.699951,1671.900024,1674.599976,1688.150024,1664.150024,1671.800049,1681.000000,1687.599976
HDFCLIFE.NS,503.700012,507.750000,514.650024,513.700012,513.549988,517.049988,531.849976,533.400024,532.299988,524.799988,530.250000,513.299988,547.549988,529.750000,531.599976,517.849976,529.750000
HEROMOTOCO.NS,2431.100098,2432.199951,2426.449951,2460.649902,2469.850098,2477.300049,2447.050049,2465.949951,2439.699951,2445.949951,2448.550049,2459.350098,2501.050049,2497.750000,2505.149902,2508.649902,2558.600098
HINDALCO.NS,402.549988,403.299988,405.250000,411.450012,417.549988,417.649994,422.049988,428.700012,431.549988,433.049988,429.850006,422.350006,427.799988,429.799988,424.799988,430.799988,436.100006
HINDUNILVR.NS,2536.100098,2582.750000,2565.250000,2532.149902,2547.750000,2528.949951,2536.199951,2551.850098,2541.050049,2531.600098,2492.600098,2497.949951,2499.750000,2490.449951,2510.800049,2468.949951,2457.300049
ICICIBANK.NS,883.799988,884.599976,875.000000,868.450012,881.900024,890.150024,899.000000,901.299988,896.849976,891.900024,894.400024,885.650024,904.750000,913.450012,914.950012,918.349976,917.650024
INDUSINDBK.NS,1078.750000,1067.199951,1082.000000,1069.300049,1074.199951,1074.750000,1109.300049,1124.349976,1146.900024,1120.400024,1126.199951,1116.349976,1102.000000,1121.750000,1137.800049,1144.750000,1152.800049
INFY.NS,1410.849976,1423.550049,1421.900024,1427.599976,1406.150024,1428.300049,1389.199951,1258.300049,1259.349976,1232.199951,1223.400024,1227.349976,1226.300049,1224.900024,1227.550049,1246.250000,1252.750000
ITC.NS,378.899994,386.399994,387.350006,388.549988,396.000000,393.549988,395.600006,400.149994,398.500000,398.750000,400.299988,408.250000,408.700012,411.549988,412.250000,416.000000,425.549988
JSWSTEEL.NS,682.200012,686.549988,682.700012,688.500000,713.599976,718.250000,720.650024,721.200012,719.349976,722.349976,715.799988,710.650024,720.349976,725.000000,723.450012,732.099976,725.299988
KOTAKBANK.NS,1745.699951,1751.900024,1757.099976,1759.300049,1846.500000,1844.050049,1869.500000,1895.150024,1888.300049,1884.900024,1884.000000,1893.650024,1897.250000,1889.300049,1878.599976,1908.599976,1938.050049
LT.NS,2170.149902,2257.750000,2274.250000,2309.699951,2301.500000,2288.500000,2258.750000,2214.000000,2216.600098,2219.600098,2232.750000,2215.199951,2228.899902,2247.949951,2276.149902,2305.600098,2364.399902
MARUTI.NS,8503.049805,8447.049805,8516.650391,8535.150391,8659.549805,8621.049805,8670.799805,8674.650391,8732.650391,8679.950195,8714.650391,8558.450195,8466.150391,8468.900391,8506.900391,8542.950195,8589.549805
NESTLEIND.NS,19705.449219,19822.050781,19708.250000,19530.199219,19674.599609,19440.300781,19465.349609,20244.400391,20661.250000,20618.699219,20473.099609,20496.849609,20689.300781,20665.199219,21026.250000,21147.300781,21761.400391
NTPC.NS,177.800003,175.899994,175.199997,177.600006,178.100006,175.800003,173.050003,169.600006,170.100006,167.100006,169.699997,169.699997,170.949997,171.100006,169.850006,170.949997,172.000000
ONGC.NS,153.649994,152.899994,150.600006,157.149994,159.050003,157.649994,158.750000,160.149994,160.100006,160.100006,159.149994,159.600006,160.250000,160.649994,161.149994,160.050003,158.949997
POWERGRID.NS,224.600006,225.649994,225.250000,229.050003,231.350006,227.300003,231.199997,236.649994,230.300003,229.949997,230.899994,231.550003,231.949997,232.899994,238.300003,235.949997,237.250000
RELIANCE.NS,2331.449951,2325.850098,2341.449951,2324.850098,2336.350098,2346.649902,2355.500000,2367.449951,2340.350098,2352.000000,2346.050049,2349.000000,2358.000000,2376.050049,2362.100098,2377.050049,2420.500000
SBILIFE.NS,1103.800049,1105.550049,1116.250000,1106.250000,1112.650024,1126.849976,1130.250000,1145.349976,1145.550049,1123.400024,1128.849976,1106.550049,1105.699951,1105.849976,1118.300049,1137.050049,1140.099976
SBIN.NS,526.750000,523.000000,527.650024,526.299988,532.099976,528.200012,532.950012,544.000000,545.849976,540.299988,544.799988,543.150024,554.599976,561.799988,566.349976,564.750000,578.299988
SHREECEM.NS,26260.849609,26534.949219,26164.699219,26000.750000,26201.400391,26116.900391,25808.199219,25532.150391,25263.650391,24758.949219,24254.400391,23887.050781,23870.349609,24078.400391,23962.500000,23745.800781,24334.449219
SUNPHARMA.NS,979.049988,997.150024,1012.099976,1008.599976,1009.250000,1016.700012,1003.500000,998.700012,1004.799988,995.500000,987.750000,989.450012,979.150024,972.500000,971.250000,978.700012,987.650024
TATACONSUM.NS,717.049988,727.400024,730.500000,720.650024,717.299988,718.400024,719.599976,713.200012,707.049988,700.849976,703.400024,700.400024,732.549988,734.450012,746.700012,754.000000,763.849976
TATAMOTORS.NS,424.250000,426.549988,437.649994,461.299988,458.700012,465.500000,469.500000,472.149994,473.000000,469.399994,476.799988,471.200012,475.200012,473.549988,478.200012,481.600006,484.950012
TATASTEEL.NS,104.099998,104.849998,104.349998,104.949997,107.550003,107.599998,107.500000,107.150002,107.599998,108.099998,108.000000,106.150002,106.500000,107.050003,106.849998,107.650002,107.949997
TCS.NS,3200.000000,3239.800049,3220.699951,3263.399902,3213.800049,3241.649902,3188.850098,3139.500000,3130.750000,3089.600098,3104.800049,3160.850098,3174.800049,3176.000000,3198.149902,3187.949951,3219.250000
TECHM.NS,1103.199951,1103.500000,1092.750000,1107.250000,1098.250000,1109.900024,1086.849976,1029.949951,1025.199951,1013.900024,1021.799988,998.750000,1006.099976,997.000000,996.299988,1003.150024,1023.700012
TITAN.NS,2537.399902,2572.699951,2548.449951,2583.699951,2580.050049,2587.899902,2585.649902,2605.600098,2577.699951,2569.300049,2579.250000,2568.300049,2629.550049,2633.199951,2641.000000,2663.449951,2641.850098
ULTRACEMCO.NS,7640.500000,7691.950195,7701.850098,7696.250000,7741.450195,7682.850098,7655.250000,7742.450195,7595.299805,7515.899902,7475.799805,7358.500000,7440.549805,7439.200195,7456.899902,7500.899902,7556.200195
UPL.NS,729.650024,732.299988,726.150024,737.750000,742.549988,739.900024,737.000000,737.150024,738.650024,735.950012,732.049988,734.700012,729.849976,714.650024,715.349976,727.200012,740.299988
WIPRO.NS,367.950012,369.750000,366.649994,373.299988,370.250000,372.149994,368.299988,361.350006,367.899994,360.799988,362.850006,368.049988,377.950012,375.649994,374.549988,374.399994,385.000000

In [18]:
# Equation Caculating the no of shares

# amount_to_invest = (investment_amount * weightage[2])/close_price.iloc[1,5]
# math.floor(amount_to_invest)

## Calculate number of shares that can be bought with this amount by dividing it with daily closing price. You will get number of shares that can be bought for that stock for that particular day.

In [19]:
number_of_shares = []
for i in range(len(close_price)):
    for j in range(len(close_price.columns)):
        amount_to_invest = investment_amount * weightage[i]
        number_share = amount_to_invest/close_price.iloc[i, j]
        number_of_shares.append(math.floor(number_share))
        
number_of_shares

[6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 14,
 14,
 15,
 15,
 15,
 15,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 14,
 14,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 10,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 6,
 6,
 7,
 6,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 25,
 24,
 24,
 24,
 24,
 24,
 23,
 24,
 24,
 24,
 24,
 24,
 23,
 24,
 24,
 24,
 23,
 7,
 7,
 6,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 6,
 6,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 10,
 10,
 10,
 10,
 11,
 10,
 10,
 11,
 10,
 10,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 39,
 39,
 39,
 39,
 39,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 37,
 37,
 37,
 37,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 27,
 26,
 26,
 26,
 27,
 26,
 27,
 30,
 30,
 31,
 31,
 31,
 31,
 31,
 31,
 30,
 30,
 39,
 39,
 39,
 38,
 38,
 38,
 38,
 37,
 38,
 37,
 37,
 37,
 37,
 36,
 36,
 36,
 35,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 10,
 10,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 6,
 6,
 6,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 27,
 28,
 28,
 27,
 27,
 28,
 28,
 29,
 29,
 29,
 29,
 29,
 28,
 28,
 29,
 28,
 28,
 25,
 25,
 25,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 23,
 23,
 23,
 22,
 22,
 22,
 22,
 21,
 22,
 22,
 22,
 22,
 22,
 22,
 21,
 22,
 21,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 26,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 24,
 24,
 24,
 24,
 23,
 24,
 23,
 23,
 23,
 23,
 23,
 23,
 22,
 22,
 22,
 22,
 21,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 12,
 12,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 10,
 10,
 10,
 65,
 65,
 65,
 65,
 63,
 63,
 63,
 63,
 63,
 63,
 63,
 64,
 64,
 63,
 64,
 63,
 63,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13]

In [20]:
date_strings = [date.strftime('%Y-%m-%d') for date in close_price.columns]
date_strings

['2023-04-03',
 '2023-04-05',
 '2023-04-06',
 '2023-04-10',
 '2023-04-11',
 '2023-04-12',
 '2023-04-13',
 '2023-04-17',
 '2023-04-18',
 '2023-04-19',
 '2023-04-20',
 '2023-04-21',
 '2023-04-24',
 '2023-04-25',
 '2023-04-26',
 '2023-04-27',
 '2023-04-28']

## stocks in input sheet for all dates of user input

In [21]:

output = {}
idx = 0

for i in range(len(stocks)):
    output[stocks[i]] = []
#     print(output)
    for j in range(len(date_strings)):
            output[stocks[i]].append(number_of_shares[idx])
            idx+=1
# print(output)            
report = pd.DataFrame(output)
# print(report)
report = report.transpose().reset_index()

columns = ["stocks"]
columns = columns+date_strings
report.columns = columns
report.head()
# print(columns)

,stocks,2023-04-03,2023-04-05,2023-04-06,2023-04-10,2023-04-11,2023-04-12,2023-04-13,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-24,2023-04-25,2023-04-26,2023-04-27,2023-04-28
0,ADANIPORTS,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
1,APOLLOHOSP,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,ASIANPAINT,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
3,AXISBANK,14,14,15,15,15,15,14,14,14,14,14,14,14,14,14,14,14
4,BAJAJFINSV,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4

# Part -> 2

## Change the all Code Into Standerd code With the help of Function

In [22]:
def stock_report():
    
    data=pd.read_csv("Stocks.csv")
    stocks = list(data["Ticker"].values)
    ticker = [stock+ ".NS" for stock in stocks]
    weightage = list(data["Weightage"].values)
    portfolio = {}

    for i in range(len(data)):
        portfolio[stocks[i]]=weightage[i]
        
    def getInput():
        amount = int(input("Enter your investment"))
        startDate = str(input("Enter Your Start Date as yyyy-mm-dd :"))
        endDate = str(input("Enter Your End Date as yyyy-mm-dd :"))
    
        return amount,startDate,endDate
    
    investment_amount, start_date, end_date = getInput()

    def getClosp(stocks,start,end):
        s =yf.download(stocks,start,end)['Close']
        return s
    
    closPrice=getClosp(ticker,start=start_date ,end=end_date)
    
    close_price = closPrice.transpose()
    print(close_price)
    number_of_shares = []
    for i in range(len(close_price)):
        for j in range(len(close_price.columns)):
            amount_to_invest = investment_amount * weightage[i]
            number_share = amount_to_invest/close_price.iloc[i, j]
            number_of_shares.append(math.floor(number_share))
            
    date_strings = [date.strftime('%Y-%m-%d') for date in close_price.columns[1:]]
    columns = ["Stocks"] + date_strings
    output = {}
    idx = 0
    for i in range(len(stocks)):
        output[stocks[i]] = []
        
        for j in range(len(date_strings)):
            output[stocks[i]].append(number_of_shares[idx])
            idx+=1
    report = pd.DataFrame(output).transpose().reset_index()
    report.columns = columns
    report.to_csv('report.csv', index=False)

In [23]:
stock_report()

Enter your investment50000000000
Enter Your Start Date as yyyy-mm-dd :2023-04-03
Enter Your End Date as yyyy-mm-dd :2023-04-30
[*********************100%***********************]  47 of 47 completed
Date             2023-04-03    2023-04-05    2023-04-06    2023-04-10
ADANIPORTS.NS    627.799988    636.750000    641.599976    652.000000  \
APOLLOHOSP.NS   4234.350098   4200.950195   4201.950195   4237.000000
ASIANPAINT.NS   2777.000000   2808.500000   2809.850098   2776.350098
AXISBANK.NS      864.599976    860.500000    851.950012    847.349976
BAJAJFINSV.NS   1282.949951   1279.300049   1303.949951   1305.050049
BAJFINANCE.NS   5715.049805   5761.299805   5932.200195   5828.799805
BHARTIARTL.NS    760.549988    763.450012    765.950012    769.750000
BPCL.NS          329.950012    328.049988    332.000000    335.799988
BRITANNIA.NS    4324.049805   4327.549805   4299.799805   4266.399902
CIPLA.NS         891.450012    895.750000    893.349976    901.849976
COALINDIA.NS     220.149994    222.500000    221.699997    222.050003
DIVISLAB.NS     2874.699951   2889.800049   2921.449951   2909.649902
DRREDDY.NS      4656.500000   4682.799805   4699.399902   4759.649902
EICHERMOT.NS    3004.300049   2933.750000   2961.699951   2970.449951
GRASIM.NS       1627.949951   1659.250000   1669.050049   1710.250000
HCLTECH.NS      1098.150024   1111.199951   1091.849976   1103.099976
HDFCBANK.NS     1610.550049   1653.750000   1666.349976   1658.449951
HDFCLIFE.NS      503.700012    507.750000    514.650024    513.700012
HEROMOTOCO.NS   2431.100098   2432.199951   2426.449951   2460.649902
HINDALCO.NS      402.549988    403.299988    405.250000    411.450012
HINDUNILVR.NS   2536.100098   2582.750000   2565.250000   2532.149902
ICICIBANK.NS     883.799988    884.599976    875.000000    868.450012
INDUSINDBK.NS   1078.750000   1067.199951   1082.000000   1069.300049
INFY.NS         1410.849976   1423.550049   1421.900024   1427.599976
ITC.NS           378.899994    386.399994    387.350006    388.549988
JSWSTEEL.NS      682.200012    686.549988    682.700012    688.500000
KOTAKBANK.NS    1745.699951   1751.900024   1757.099976   1759.300049
LT.NS           2170.149902   2257.750000   2274.250000   2309.699951
MARUTI.NS       8503.049805   8447.049805   8516.650391   8535.150391
NESTLEIND.NS   19705.449219  19822.050781  19708.250000  19530.199219
NTPC.NS          177.800003    175.899994    175.199997    177.600006
ONGC.NS          153.649994    152.899994    150.600006    157.149994
POWERGRID.NS     224.600006    225.649994    225.250000    229.050003
RELIANCE.NS     2331.449951   2325.850098   2341.449951   2324.850098
SBILIFE.NS      1103.800049   1105.550049   1116.250000   1106.250000
SBIN.NS          526.750000    523.000000    527.650024    526.299988
SHREECEM.NS    26260.849609  26534.949219  26164.699219  26000.750000
SUNPHARMA.NS     979.049988    997.150024   1012.099976   1008.599976
TATACONSUM.NS    717.049988    727.400024    730.500000    720.650024
TATAMOTORS.NS    424.250000    426.549988    437.649994    461.299988
TATASTEEL.NS     104.099998    104.849998    104.349998    104.949997
TCS.NS          3200.000000   3239.800049   3220.699951   3263.399902
TECHM.NS        1103.199951   1103.500000   1092.750000   1107.250000
TITAN.NS        2537.399902   2572.699951   2548.449951   2583.699951
ULTRACEMCO.NS   7640.500000   7691.950195   7701.850098   7696.250000
UPL.NS           729.650024    732.299988    726.150024    737.750000
WIPRO.NS         367.950012    369.750000    366.649994    373.299988

Date             2023-04-11    2023-04-12    2023-04-13    2023-04-17
ADANIPORTS.NS    653.950012    657.750000    661.650024    664.700012  \
APOLLOHOSP.NS   4271.299805   4320.200195   4398.299805   4386.700195
ASIANPAINT.NS   2753.800049   2786.750000   2809.750000   2843.100098
AXISBANK.NS      853.299988    851.049988    864.349976    864.549988
BAJAJFINSV.NS   1323.199951   1321.550049   1341.300049   1341.150024
BAJFINANCE.NS   5837.750000   5856.950195   5904.450195   5961.450195
BHARTIARTL.NS    774.150024    771.099976    767.049988    759.650024
BPCL.NS          339.100006    337.299988    332.250000    335.700012
BRITANNIA.NS    4277.350098   4271.299805   4264.200195   4338.600098
CIPLA.NS         907.150024    917.950012    915.750000    906.450012
COALINDIA.NS     223.649994    227.699997    225.500000    229.600006
DIVISLAB.NS     2927.350098   3212.100098   3183.949951   3162.649902
DRREDDY.NS      4763.350098   4881.000000   4852.899902   4852.299805
EICHERMOT.NS    3054.199951   3128.350098   3213.050049   3229.000000
GRASIM.NS       1711.099976   1717.449951   1701.099976   1723.650024
HCLTECH.NS      1087.000000   1094.500000   1071.849976   1042.199951
HDFCBANK.NS     1663.300049   1684.900024   1692.449951   1666.650024
HDFCLIFE.NS      513.549988    517.049988    531.849976    533.400024
HEROMOTOCO.NS   2469.850098   2477.300049   2447.050049   2465.949951
HINDALCO.NS      417.549988    417.649994    422.049988    428.700012
HINDUNILVR.NS   2547.750000   2528.949951   2536.199951   2551.850098
ICICIBANK.NS     881.900024    890.150024    899.000000    901.299988
INDUSINDBK.NS   1074.199951   1074.750000   1109.300049   1124.349976
INFY.NS         1406.150024   1428.300049   1389.199951   1258.300049
ITC.NS           396.000000    393.549988    395.600006    400.149994
JSWSTEEL.NS      713.599976    718.250000    720.650024    721.200012
KOTAKBANK.NS    1846.500000   1844.050049   1869.500000   1895.150024
LT.NS           2301.500000   2288.500000   2258.750000   2214.000000
MARUTI.NS       8659.549805   8621.049805   8670.799805   8674.650391
NESTLEIND.NS   19674.599609  19440.300781  19465.349609  20244.400391
NTPC.NS          178.100006    175.800003    173.050003    169.600006
ONGC.NS          159.050003    157.649994    158.750000    160.149994
POWERGRID.NS     231.350006    227.300003    231.199997    236.649994
RELIANCE.NS     2336.350098   2346.649902   2355.500000   2367.449951
SBILIFE.NS      1112.650024   1126.849976   1130.250000   1145.349976
SBIN.NS          532.099976    528.200012    532.950012    544.000000
SHREECEM.NS    26201.400391  26116.900391  25808.199219  25532.150391
SUNPHARMA.NS    1009.250000   1016.700012   1003.500000    998.700012
TATACONSUM.NS    717.299988    718.400024    719.599976    713.200012
TATAMOTORS.NS    458.700012    465.500000    469.500000    472.149994
TATASTEEL.NS     107.550003    107.599998    107.500000    107.150002
TCS.NS          3213.800049   3241.649902   3188.850098   3139.500000
TECHM.NS        1098.250000   1109.900024   1086.849976   1029.949951
TITAN.NS        2580.050049   2587.899902   2585.649902   2605.600098
ULTRACEMCO.NS   7741.450195   7682.850098   7655.250000   7742.450195
UPL.NS           742.549988    739.900024    737.000000    737.150024
WIPRO.NS         370.250000    372.149994    368.299988    361.350006

Date             2023-04-18    2023-04-19    2023-04-20    2023-04-21
ADANIPORTS.NS    658.549988    658.400024    666.099976    661.599976  \
APOLLOHOSP.NS   4338.649902   4320.299805   4348.399902   4361.299805
ASIANPAINT.NS   2854.600098   2809.699951   2843.850098   2882.100098
AXISBANK.NS      863.349976    873.400024    868.750000    864.200012
BAJAJFINSV.NS   1335.199951   1331.349976   1332.099976   1317.900024
BAJFINANCE.NS   5915.649902   5947.750000   5912.700195   5937.899902
BHARTIARTL.NS    759.750000    764.650024    772.299988    765.200012
BPCL.NS          334.799988    342.000000    343.700012    346.200012
BRITANNIA.NS    4301.850098   4293.850098   4256.399902   4327.799805
CIPLA.NS         924.250000    911.900024    904.000000    915.049988
COALINDIA.NS     232.199997    230.399994    229.550003    230.050003
DIVISLAB.NS     3270.600098   3342.600098   3203.100098   3231.649902
DRREDDY.NS      4912.399902   4909.350098   4858.200195   4868.750000
EICHERMOT.NS    3263.550049   3289.600098   3246.949951   3200.699951
GRASIM.NS       1704.949951   1690.099976   1687.449951   1661.949951
HCLTECH.NS      1063.849976   1038.699951   1037.500000   1048.949951
HDFCBANK.NS     1659.599976   1665.699951   1671.900024   1674.599976
HDFCLIFE.NS      532.299988    524.799988    530.250000    513.299988
HEROMOTOCO.NS   2439.699951   2445.949951   2448.550049   2459.350098
HINDALCO.NS      431.549988    433.049988    429.850006    422.350006
HINDUNILVR.NS   2541.050049   2531.600098   2492.600098   2497.949951
ICICIBANK.NS     896.849976    891.900024    894.400024    885.650024
INDUSINDBK.NS   1146.900024   1120.400024   1126.199951   1116.349976
INFY.NS         1259.349976   1232.199951   1223.400024   1227.349976
ITC.NS           398.500000    398.750000    400.299988    408.250000
JSWSTEEL.NS      719.349976    722.349976    715.799988    710.650024
KOTAKBANK.NS    1888.300049   1884.900024   1884.000000   1893.650024
LT.NS           2216.600098   2219.600098   2232.750000   2215.199951
MARUTI.NS       8732.650391   8679.950195   8714.650391   8558.450195
NESTLEIND.NS   20661.250000  20618.699219  20473.099609  20496.849609
NTPC.NS          170.100006    167.100006    169.699997    169.699997
ONGC.NS          160.100006    160.100006    159.149994    159.600006
POWERGRID.NS     230.300003    229.949997    230.899994    231.550003
RELIANCE.NS     2340.350098   2352.000000   2346.050049   2349.000000
SBILIFE.NS      1145.550049   1123.400024   1128.849976   1106.550049
SBIN.NS          545.849976    540.299988    544.799988    543.150024
SHREECEM.NS    25263.650391  24758.949219  24254.400391  23887.050781
SUNPHARMA.NS    1004.799988    995.500000    987.750000    989.450012
TATACONSUM.NS    707.049988    700.849976    703.400024    700.400024
TATAMOTORS.NS    473.000000    469.399994    476.799988    471.200012
TATASTEEL.NS     107.599998    108.099998    108.000000    106.150002
TCS.NS          3130.750000   3089.600098   3104.800049   3160.850098
TECHM.NS        1025.199951   1013.900024   1021.799988    998.750000
TITAN.NS        2577.699951   2569.300049   2579.250000   2568.300049
ULTRACEMCO.NS   7595.299805   7515.899902   7475.799805   7358.500000
UPL.NS           738.650024    735.950012    732.049988    734.700012
WIPRO.NS         367.899994    360.799988    362.850006    368.049988

Date             2023-04-24    2023-04-25    2023-04-26    2023-04-27
ADANIPORTS.NS    671.299988    671.450012    664.700012    659.750000  \
APOLLOHOSP.NS   4399.049805   4416.500000   4410.399902   4417.500000
ASIANPAINT.NS   2891.100098   2898.000000   2910.000000   2899.949951
AXISBANK.NS      882.299988    878.349976    887.650024    881.400024
BAJAJFINSV.NS   1319.750000   1345.800049   1334.699951   1360.000000
BAJFINANCE.NS   5933.750000   6075.250000   6055.950195   6200.049805
BHARTIARTL.NS    760.250000    772.599976    773.450012    786.500000
BPCL.NS          347.200012    347.500000    349.000000    355.649994
BRITANNIA.NS    4311.000000   4402.549805   4405.000000   4415.850098
CIPLA.NS         903.000000    909.650024    911.099976    913.950012
COALINDIA.NS     231.550003    230.250000    229.750000    231.750000
DIVISLAB.NS     3192.850098   3226.449951   3220.000000   3238.449951
DRREDDY.NS      4806.100098   4833.299805   4845.100098   4918.549805
EICHERMOT.NS    3182.800049   3217.949951   3248.350098   3263.550049
GRASIM.NS       1689.300049   1686.849976   1699.150024   1701.400024
HCLTECH.NS      1054.050049   1053.449951   1065.550049   1071.250000
HDFCBANK.NS     1688.150024   1664.150024   1671.800049   1681.000000
HDFCLIFE.NS      547.549988    529.750000    531.599976    517.849976
HEROMOTOCO.NS   2501.050049   2497.750000   2505.149902   2508.649902
HINDALCO.NS      427.799988    429.799988    424.799988    430.799988
HINDUNILVR.NS   2499.750000   2490.449951   2510.800049   2468.949951
ICICIBANK.NS     904.750000    913.450012    914.950012    918.349976
INDUSINDBK.NS   1102.000000   1121.750000   1137.800049   1144.750000
INFY.NS         1226.300049   1224.900024   1227.550049   1246.250000
ITC.NS           408.700012    411.549988    412.250000    416.000000
JSWSTEEL.NS      720.349976    725.000000    723.450012    732.099976
KOTAKBANK.NS    1897.250000   1889.300049   1878.599976   1908.599976
LT.NS           2228.899902   2247.949951   2276.149902   2305.600098
MARUTI.NS       8466.150391   8468.900391   8506.900391   8542.950195
NESTLEIND.NS   20689.300781  20665.199219  21026.250000  21147.300781
NTPC.NS          170.949997    171.100006    169.850006    170.949997
ONGC.NS          160.250000    160.649994    161.149994    160.050003
POWERGRID.NS     231.949997    232.899994    238.300003    235.949997
RELIANCE.NS     2358.000000   2376.050049   2362.100098   2377.050049
SBILIFE.NS      1105.699951   1105.849976   1118.300049   1137.050049
SBIN.NS          554.599976    561.799988    566.349976    564.750000
SHREECEM.NS    23870.349609  24078.400391  23962.500000  23745.800781
SUNPHARMA.NS     979.150024    972.500000    971.250000    978.700012
TATACONSUM.NS    732.549988    734.450012    746.700012    754.000000
TATAMOTORS.NS    475.200012    473.549988    478.200012    481.600006
TATASTEEL.NS     106.500000    107.050003    106.849998    107.650002
TCS.NS          3174.800049   3176.000000   3198.149902   3187.949951
TECHM.NS        1006.099976    997.000000    996.299988   1003.150024
TITAN.NS        2629.550049   2633.199951   2641.000000   2663.449951
ULTRACEMCO.NS   7440.549805   7439.200195   7456.899902   7500.899902
UPL.NS           729.849976    714.650024    715.349976    727.200012
WIPRO.NS         377.950012    375.649994    374.549988    374.399994

Date             2023-04-28
ADANIPORTS.NS    681.299988
APOLLOHOSP.NS   4513.700195
ASIANPAINT.NS   2902.350098
AXISBANK.NS      860.000000
BAJAJFINSV.NS   1354.650024
BAJFINANCE.NS   6280.100098
BHARTIARTL.NS    799.299988
BPCL.NS          357.600006
BRITANNIA.NS    4553.549805
CIPLA.NS         908.049988
COALINDIA.NS     233.100006
DIVISLAB.NS     3267.899902
DRREDDY.NS      4929.850098
EICHERMOT.NS    3301.100098
GRASIM.NS       1720.300049
HCLTECH.NS      1064.099976
HDFCBANK.NS     1687.599976
HDFCLIFE.NS      529.750000
HEROMOTOCO.NS   2558.600098
HINDALCO.NS      436.100006
HINDUNILVR.NS   2457.300049
ICICIBANK.NS     917.650024
INDUSINDBK.NS   1152.800049
INFY.NS         1252.750000
ITC.NS           425.549988
JSWSTEEL.NS      725.299988
KOTAKBANK.NS    1938.050049
LT.NS           2364.399902
MARUTI.NS       8589.549805
NESTLEIND.NS   21761.400391
NTPC.NS          172.000000
ONGC.NS          158.949997
POWERGRID.NS     237.250000
RELIANCE.NS     2420.500000
SBILIFE.NS      1140.099976
SBIN.NS          578.299988
SHREECEM.NS    24334.449219
SUNPHARMA.NS     987.650024
TATACONSUM.NS    763.849976
TATAMOTORS.NS    484.950012
TATASTEEL.NS     107.949997
TCS.NS          3219.250000
TECHM.NS        1023.700012
TITAN.NS        2641.850098
ULTRACEMCO.NS   7556.200195
UPL.NS           740.299988
WIPRO.NS         385.000000

In [24]:
res = pd.read_csv('report.csv')
res.head()

,Stocks,2023-04-05,2023-04-06,2023-04-10,2023-04-11,2023-04-12,2023-04-13,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-24,2023-04-25,2023-04-26,2023-04-27,2023-04-28
0,ADANIPORTS,653074,643894,639027,628834,626959,623337,619662,616819,622579,622721,615523,619709,610755,610618,616819,621447
1,APOLLOHOSP,601790,72029,72602,72585,71984,71406,70598,69344,69528,70298,70596,70140,69933,69333,69059,69154
2,ASIANPAINT,69043,67572,351098,347160,346993,351180,354056,349869,347005,342935,341553,347012,342845,338294,337241,336438
3,AXISBANK,335051,336212,335934,1486236,1493317,1508304,1516492,1505918,1509899,1486666,1486322,1488388,1471261,1479136,1486924,1456420
4,BAJAJFINSV,1462970,1447642,1457907,1494186,467672,469006,460140,459752,453446,454012,447327,447377,449370,450670,450416,455269